
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Przesyłanie plików</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ url_for('static', filename='icon.png')}}">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
    
        <title>Mój Bank - logowanie</title>
    
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
    
        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='login.css')}}" rel="stylesheet">
      <script data-dapp-detection="">!function(){let e=!1;function n(){if(!e){const n=document.createElement("meta");n.name="dapp-detected",document.head.appendChild(n),e=!0}}if(window.hasOwnProperty("ethereum")){if(window.__disableDappDetectionInsertion=!0,void 0===window.ethereum)return;n()}else{var t=window.ethereum;Object.defineProperty(window,"ethereum",{configurable:!0,enumerable:!1,set:function(e){window.__disableDappDetectionInsertion||n(),t=e},get:function(){if(!window.__disableDappDetectionInsertion){const e=arguments.callee;e&&e.caller&&e.caller.toString&&-1!==e.caller.toString().indexOf("getOwnPropertyNames")||n()}return t}})}}();</script></head>
    </head>
    <body onload="my_script();">
        <div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <hr>
                    <div class="form-group">
                        <p>Połączony z {{ id }}</p>
                        <input type="text" id="receiver-id" title="Input the ID from receive.html" class="form-control" value="{{ id }}">
                    </div>
                    <div class="form-group">
                        <button id="connect-button" class="btnSubmit">Connect</button>
                    </div>
                    <div class="form-group">
                    </div>
                </div>
                <div class="col-md-6 login-form-2">
                    <div class="message" id="message"></div>
                </div>
            </div>
        </div>

        
        <div style="display: none;">
            <h1>Peer-to-Peer Cue System --- Sender</h1>
            <table class="control">
                <tr>
                    <td class="title">Status:</td>
                    <td class="title">Messages:</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="sendMessageBox" placeholder="Enter a message..." autofocus="true" />
                        <button type="button" id="sendButton">Send</button>
                        <button type="button" id="clearMsgsButton">Clear Msgs (Local)</button>
                    </td>
                </tr>
                <tr>
                    <td><div id="status" class="status"></div></td>
                    <td><div class="message" id="message"></div></td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="control-button" id="resetButton">Reset</button>
                    </td>
                    <td>
                        <button type="button" class="control-button" id="goButton">Go</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="control-button" id="fadeButton">Fade</button>
                    </td>
                    <td>
                        <button type="button" class="control-button" id="offButton">Off</button>
                    </td>
                </tr>
            </table>
      </div>

        <script src="https://cdn.jsdelivr.net/npm/peerjs@1.2.0/dist/peerjs.min.js"></script>
        <script type="text/javascript">
            (function () {
                
                var lastPeerId = null;
                var peer = null; // own peer object
                var conn = null;
                var recvIdInput = document.getElementById("receiver-id");
                var status = document.getElementById("status");
                var message = document.getElementById("message");
                var goButton = document.getElementById("goButton");
                var resetButton = document.getElementById("resetButton");
                var fadeButton = document.getElementById("fadeButton");
                var offButton = document.getElementById("offButton");
                var sendMessageBox = document.getElementById("sendMessageBox");
                var sendButton = document.getElementById("sendButton");
                var clearMsgsButton = document.getElementById("clearMsgsButton");
                var connectButton = document.getElementById("connect-button");
                var cueString = "<span class=\"cueMsg\">Cue: </span>";
                
                const encode = input => {
                    const keyStr =
                        'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/='
                    let output = ''
                    let chr1, chr2, chr3, enc1, enc2, enc3, enc4
                    let i = 0

                    while (i < input.length) {
                        chr1 = input[i++]
                        chr2 = i < input.length ? input[i++] : Number.NaN // Not sure if the index
                        chr3 = i < input.length ? input[i++] : Number.NaN // checks are needed here

                        enc1 = chr1 >> 2
                        enc2 = ((chr1 & 3) << 4) | (chr2 >> 4)
                        enc3 = ((chr2 & 15) << 2) | (chr3 >> 6)
                        enc4 = chr3 & 63

                        if (isNaN(chr2)) {
                        enc3 = enc4 = 64
                        } else if (isNaN(chr3)) {
                        enc4 = 64
                        }
                        output +=
                        keyStr.charAt(enc1) +
                        keyStr.charAt(enc2) +
                        keyStr.charAt(enc3) +
                        keyStr.charAt(enc4)
                    }
                    return output
                    }
                var saveData = (function () {
                    var a = document.createElement("a");
                    document.body.appendChild(a);
                    a.style = "display: none";
                    return function (data, fileName) {
                        blob = new Blob([data]);
                        url = window.URL.createObjectURL(blob);
                        console.log("DATA: " + data)
                        a.href = url;
                        a.download = fileName;
                        a.click();
                        window.URL.revokeObjectURL(url);
                    };
                }());

                /**
                 * Create the Peer object for our end of the connection.
                 *
                 * Sets up callbacks that handle any events related to our
                 * peer object.
                 */
                function initialize() {
                    // Create own peer object with connection to shared PeerJS server
                    peer = new Peer(null, {
                        debug: 2
                    });
                    
                    peer.on('open', function (id) {
                        // Workaround for peer.reconnect deleting previous id
                        if (peer.id === null) {
                            console.log('Received null id from peer open');
                            peer.id = lastPeerId;
                        } else {
                            lastPeerId = peer.id;
                        }
                        
                        console.log('ID: ' + peer.id);
                    });
                    peer.on('connection', function (c) {
                        // Disallow incoming connections
                        c.on('open', function() {
                            c.send("Sender does not accept incoming connections");
                            setTimeout(function() { c.close(); }, 500);
                        });
                    });
                    peer.on('disconnected', function () {
                        status.innerHTML = "Connection lost. Please reconnect";
                        console.log('Connection lost. Please reconnect');
                        
                        // Workaround for peer.reconnect deleting previous id
                        peer.id = lastPeerId;
                        peer._lastServerId = lastPeerId;
                        peer.reconnect();
                    });
                    peer.on('close', function() {
                        conn = null;
                        status.innerHTML = "Connection destroyed. Please refresh";
                        console.log('Connection destroyed');
                    });
                    peer.on('error', function (err) {
                        console.log(err);
                        alert('' + err);
                    });
                };
                
                /**
                 * Create the connection between the two Peers.
                 *
                 * Sets up callbacks that handle any events related to the
                 * connection and data received on it.
                 */
                function join() {
                    // Close old connection
                    if (conn) {
                        conn.close();
                    }
                    
                    // Create connection to destination peer specified in the input field
                    conn = peer.connect(recvIdInput.value, {
                        reliable: true
                    });
                    
                    conn.on('open', function () {
                        status.innerHTML = "Connected to: " + conn.peer;
                        console.log("Connected to: " + conn.peer);
                        
                        // Check URL params for comamnds that should be sent immediately
                        var command = getUrlParam("command");
                        if (command)
                        conn.send(command);
                    });
                    // Handle incoming data (messages only since this is the signal sender)
                    conn.on('data', function (data) {
                        if(data instanceof Object){
                            alert("GOT SOME FILE " + data.filename)
                            saveData(data.file, data.filename)
                            //const bytes = new Uint8Array(data.file)
                            //const img = document.createElement('img')
                            //img.src = 'data:image/png;base64,' + encode(bytes)
                            //document.getElementById('message').append(img)
                            addMessage("<span class=\"peerMsg\">Peer:</span> " + typeof data.file);
                        }
                        else{
                            addMessage("<span class=\"peerMsg\">Peer:</span> " + data);
                        }
                    });
                    conn.on('close', function () {
                        status.innerHTML = "Connection closed";
                    });
                };
                
                /**
                 * Get first "GET style" parameter from href.
                 * This enables delivering an initial command upon page load.
                 *
                 * Would have been easier to use location.hash.
                 */
                function getUrlParam(name) {
                    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                    var regexS = "[\\?&]" + name + "=([^&#]*)";
                    var regex = new RegExp(regexS);
                    var results = regex.exec(window.location.href);
                    if (results == null)
                    return null;
                    else
                    return results[1];
                };
                
                /**
                 * Send a signal via the peer connection and add it to the log.
                 * This will only occur if the connection is still alive.
                 */
                function signal(sigName) {
                    if (conn && conn.open) {
                        conn.send(sigName);
                        console.log(sigName + " signal sent");
                        addMessage(cueString + sigName);
                    } else {
                        console.log('Connection is closed');
                    }
                }
                
                goButton.addEventListener('click', function () {
                    signal("Go");
                });
                resetButton.addEventListener('click', function () {
                    signal("Reset");
                });
                fadeButton.addEventListener('click', function () {
                    signal("Fade");
                });
                offButton.addEventListener('click', function () {
                    signal("Off");
                });
                
                function addMessage(msg) {
                    var now = new Date();
                    var h = now.getHours();
                    var m = addZero(now.getMinutes());
                    var s = addZero(now.getSeconds());
                    
                    if (h > 12)
                    h -= 12;
                    else if (h === 0)
                    h = 12;
                    
                    function addZero(t) {
                        if (t < 10)
                        t = "0" + t;
                        return t;
                    };
                    
                    message.innerHTML = "<br><span class=\"msg-time\">" + h + ":" + m + ":" + s + "</span>  -  " + msg + message.innerHTML;
                };
                
                function clearMessages() {
                    message.innerHTML = "";
                    addMessage("Msgs cleared");
                };
                
                // Listen for enter in message box
                sendMessageBox.addEventListener('keypress', function (e) {
                    var event = e || window.event;
                    var char = event.which || event.keyCode;
                    if (char == '13')
                    sendButton.click();
                });
                // Send message
                sendButton.addEventListener('click', function () {
                    if (conn && conn.open) {
                        var msg = sendMessageBox.value;
                        sendMessageBox.value = "";
                        conn.send(msg);
                        console.log("Sent: " + msg);
                        addMessage("<span class=\"selfMsg\">Self: </span> " + msg);
                    } else {
                        console.log('Connection is closed');
                    }
                });
                
                // Clear messages box
                clearMsgsButton.addEventListener('click', clearMessages);
                // Start peer connection on click
                connectButton.addEventListener('click', join);
                
                // Since all our callbacks are setup, start the process of obtaining an ID
                initialize();
            })();
            </script>
            <script type="text/javascript">
                function my_script(){
                    document.getElementById("connect-button").click()
                }
            </script>
    </body>
</html>
